<div class="justify-center">
<% @users.each do |user| %>
    <h2><%= user.name %></h2>
    <p><%= user.email %></p>
    <%= link_to '削除', user_path(user), data: { turbo_method: :delete } , class: 'btn btn-primary' %> 
    <%= link_to 'ユーザー詳細', user_path(user), class: 'btn btn-primary' %>
    <br>
  <% end %>
  
</div>