<nav class="bg-green-300 w-full h-24">
  <div class="container mx-auto">
    <div class="text-[16px] font-normal text-left">
      さぁ、まずはひとくち
      <div class="text-[45px] font-bold text-left">
        Kutemy
      </div>
    </div>
  </div>
</nav>